.home-page{
      width: 100vw;
}

.home-image{
    mask-image: linear-gradient(black, transparent); /* Transparent is used instead of any other color in giving gradient. */
 
}

.home-image img{
     width: 100%;
     height: 500px;
     z-index: -1;
     margin:0 0 -150px 0; /*For aligning the products upon the home image */
}

.home-list{
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    background-color: rgb(215, 220, 220);
    background: linear-gradient(to top, #a0aeb5, transparent );
    height: 100vh;
}

@media screen and (max-width: 900px){
    .home-list{
        height: fit-content;
    }
}
